@use "bootstrap";


.container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  h1 {
    text-align: center;
  }
  
  input[type="text"] {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
  }
  
  button {
    padding: 8px 16px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #45a049;
  }
  
  ul {
    list-style-type: none;
    padding: 0;
  }
  
  li {
    margin-bottom: 5px;
  }

  .buttom-task {
    background-color: #ff6347; 
    color: #fff; 
    border: none; 
    padding: 5px 10px; 
    border-radius: 5px; 
    cursor: pointer;
    margin-left: 150px;
  }
  
  .buttom-task:hover {
    background-color: #ff4c2e; /* Color de fondo al pasar el mouse */
  }
  
  