@use "bootstrap";

body{
  background-color: #e0e0e0;
}

.center-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Ajustar la altura al 100% de la ventana */
}

.container {
  display: flex;
  justify-content: space-between;
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  border-radius: 10px;
  background: #e0e0e0;
  box-shadow:  20px 20px 30px #bebebe,
             -20px -20px 30px #ffffff;
}

.task-time {
  font-size: 12px; 
  color: #999;
  margin-left: 5px;
}


h2{
    font-family: "Days One", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #363535;
}

.left-container, .center-container, .right-container {
  flex: 1; 
  margin: 10px 10px;
}

.left-container, .right-container {
  padding: 10px;
  border-radius: 10px;
background: #f0f0f0;
box-shadow: inset 20px 20px 31px #cccccc,
            inset -20px -20px 31px #ffffff;
}

.center-container {
  padding: 10px;
}

  
  h1 {
    text-align: center;
    font-family: "Days One", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #363535;
  }
  
  input[type="text"] {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
  }
  
  button {
    padding: 8px 16px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #45a049;
  }
  
  ul {
    list-style-type: none;
    padding: 0;
  }
  
  li {
    margin-bottom: 5px;
  }

  .buttom-task {
    background-color: #ff6347; 
    color: #fff; 
    border: none; 
    padding: 5px 10px; 
    border-radius: 5px; 
    cursor: pointer;
    margin-left: 150px;
  }
  
  .buttom-task:hover {
    background-color: #ff4c2e; /* Color de fondo al pasar el mouse */
  }
  
  